/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Yu Gothic", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Meiryo", sans-serif;
  overflow-x: hidden;
  background-color: #f9f9f9;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

picture {
  vertical-align: middle;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp-only {
    display: block;
  }
}

.header {
  width: 94.5827232796vw;
  height: 90px;
  background-color: #fff;
  border-radius: 45px;
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 10;
  translate: -50% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 40px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}

.header__logo {
  width: 170px;
}

.header__menu ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__link {
  color: #3b4043;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.header__link--contact {
  display: block;
  width: 148px;
  height: 48px;
  border-radius: 24px;
  background-color: #f7b560;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 48px;
}

.fv {
  width: 100%;
  height: clamp(600px, 100vh, 768px);
  background: url("../img/FV.jpg") center/cover no-repeat;
  position: relative;
  z-index: 0;
}

.fv__content {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.fv__logo {
  width: 204px;
  flex-shrink: 0;
}

.fv__catch {
  color: #93c572;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0.15em;
  line-height: 1.5;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3019607843);
}

.fv__scroll {
  display: block;
  width: 60px;
  height: 94px;
  color: #fff;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 20px;
  translate: -50% 0;
  animation: infinite pop;
  animation-duration: 1s;
}
.fv__scroll:before {
  position: absolute;
  content: "";
  width: 3px;
  height: 62px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
}
.fv__scroll:after {
  position: absolute;
  content: "";
  width: 3px;
  height: 20%;
  background-color: #fff;
  bottom: -2px;
  left: 56%;
  translate: -50% 0;
  rotate: 30deg;
}

@keyframes pop {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
.fv__news {
  display: block;
  width: 336px;
  height: 108px;
  border-radius: 20px;
  background-color: #f7b560;
  position: absolute;
  bottom: 48px;
  right: 45px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  color: #fff;
  padding: 14px 15px 18px 15px;
}

.fv__news-info {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 3px;
}

.fv__news-heading {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.fv__news-date {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 12px;
  letter-spacing: 0.05em;
}

.fv__news-title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}/*# sourceMappingURL=style.css.map */