@use "../global" as *;

.access {
  margin-bottom: 160px;
  @include mq(sp) {
    margin-bottom: 80px;
  }
}
.access__heading {
  margin-inline: auto;
  margin-bottom: 45px;
  @include mq(sp) {
    margin-bottom: 42px;
  }
}
.access__table {
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 100px;
  overflow: hidden;
  @include mq(sp) {
    border-radius: 50px;
  }
  tr {
    &:first-child {
      th {
        padding-top: 76px;
      }
    }
    &:nth-child(n + 1):nth-child(-n + 4) {
      td {
        padding-left: 50px;
      }
    }
    &:nth-child(n + 2):nth-child(-n + 4) {
      th {
        padding-top: 24px;
      }
    }
    &:nth-child(4) {
      th {
        padding-bottom: 50px;
      }
      td {
        padding-bottom: 50px;
      }
    }
    &:nth-child(5) {
      th {
        padding-top: 20px;
        a {
          margin-top: 20px;
          text-decoration: underline;
        }
      }
    }
  }
  th {
    width: 250px;
    background-color: $primary;
    color: $text-color;
    font-size: 16px;
    font-weight: bold;
    padding-left: 50px;
    text-align: start;
    vertical-align: top;
    @include mq(sp) {
      width: 140px;
    }
  }
  td {
    background-color: #fff;
    vertical-align: bottom;
  }
}
.access__gmap-wrapper {
  height: 300px;
  @include mq(sp) {
    height: 250px;
  }
}
