@use "../global" as *;

.faq {
  margin-bottom: 120px;
  @include mq(sp) {
    margin-bottom: 75px;
  }
}
.faq__heading {
  margin-inline: auto;
  margin-bottom: 45px;
  @include mq(sp) {
    margin-bottom: 30px;
  }
}
.faq__item {
  background-color: #fff;
  border: 3px solid $primary;
  border-radius: 50px;
  padding: 20px 40px;
  position: relative;
  @include mq(sp) {
    padding: 30px 20px 25px;
  }
  + .faq__item {
    margin-top: 50px;
    @include mq(sp) {
      margin-top: 30px;
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 20px;
    background-color: #fff;
    top: 50%;
    left: -3px;
    translate: 0 -50%;
    transition: $transition;
  }
  &:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 20px;
    background-color: #fff;
    top: 50%;
    right: -3px;
    translate: 0 -50%;
    transition: $transition;
  }
  &.opened {
    &:before {
      height: 40px;
    }
    &:after {
      height: 40px;
    }
    .faq__question::after {
      rotate: 0deg;
    }
  }
}
.faq__question {
  border: none;
  background-color: transparent;
  cursor: unset;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 0;
  position: relative;
  width: 100%;
  cursor: pointer;
  @include mq(sp) {
    gap: 10px;
  }
  span {
    font-family: $font-en;
    font-size: 35px;
    color: $primary;
    @include mq(sp) {
      font-size: 25px;
    }
  }
  h3 {
    font-family: "Yu Gothic", "Helvetica Neue", "Helvetica", "Hiragino Sans",
      "Hiragino Kaku Gothic ProN", "Arial", "Meiryo", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    @include mq(sp) {
      width: calc((240 / 375) * 100vw);
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: $primary;
    top: 50%;
    right: 0;
    translate: 0 -50%;
    @include mq(sp) {
      width: 15px;
    }
  }
  &:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: $primary;
    top: 50%;
    right: 0;
    translate: 0 -50%;
    rotate: 90deg;
    transition: $transition;
    @include mq(sp) {
      width: 15px;
    }
  }
}
.faq__answer {
  align-items: center;
  gap: 18px;
  margin-top: 24px;
  display: none;
  @include mq(sp) {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  span {
    font-family: $font-en;
    font-size: 35px;
    color: $secondary;
    @include mq(sp) {
      font-size: 25px;
    }
  }
  p {
    font-size: 20px;
    line-height: 1.35;
  }
}
