@use "../global" as *;

.header {
  width: calc((1292 / 1366) * 100vw);
  height: 90px;
  background-color: #fff;
  border-radius: 45px;
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 10;
  translate: -50% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 40px;
  box-shadow: 0px 3px 6px #00000029;
}
.header__logo {
  width: 170px;
}
.header__menu ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header__link {
  color: #3b4043;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.header__link--contact {
  display: block;
  width: 148px;
  height: 48px;
  border-radius: 24px;
  background-color: $secondary;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 48px;
}
