@use "../global" as *;

.single__heading {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.3;
  margin-bottom: 20px;
  @include mq(sp) {
    font-size: 25px;
    margin-bottom: 8px;
  }
}
.single__info {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 50px;
  @include mq(sp) {
    margin-bottom: 40px;
  }
}
.single__date {
  color: $text-color;
  font-family: $font-en;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.single__cats-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.single__cats-item {
  display: block;
  height: 26px;
  padding: 0 30px;
  background-color: $primary;
  border-radius: 5px;
  text-align: center;
  line-height: 26px;
  color: #fff;
  font-size: 14px;
}
.single__container {
  padding: 50px 0;
  margin-bottom: 160px;
  @include mq(sp) {
    padding: 30px 0;
    margin-bottom: 80px;
  }
  section {
    min-height: 300px;
    @include mq(sp) {
      min-height: auto;
    }
  }
}
.single__thumbnail {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 3px 6px #00000029;
  overflow: hidden;
  margin-bottom: 30px;
  @include mq(sp) {
    margin-bottom: 20px;
  }
}

.toc {
  width: 100%;
  border: 2px solid $primary;
  border-radius: 20px;
  padding: 25px 30px;
  margin-bottom: 75px;
  @include mq(sp) {
    padding: 12px 15px 25px;
    margin-bottom: 40px;
  }
}
.toc__heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}
.toc__inner {
  padding-left: 20px;
  counter-reset: h2-num;
}
.toc__h2 {
  counter-increment: h2-num;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
  &:before {
    content: counter(h2-num) ".";
    color: $secondary;
  }
}
.toc__h3 {
  padding-left: 2.5em;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  &:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $primary;
    top: 0.5em;
    left: 1.5em;
  }
}
.single-section {
  margin-bottom: 120px;
  @include mq(sp) {
    margin-bottom: 100px;
  }
}
.single-section__subheading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  width: fit-content;
  margin-bottom: 20px;
  border-bottom: 2px solid $primary;
  @include mq(sp) {
    font-size: 20px;
    margin-bottom: 16px;
  }
}
.single-section__subsubheading {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.35;
  padding-left: 1.5em;
  position: relative;
  margin-bottom: 16px;
  @include mq(sp) {
    font-size: 18px;
    margin-bottom: 12px;
  }
  &:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 100%;
    background-color: $primary;
    left: 0;
    top: 0;
  }
}
.single-section__paragraph {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 80px;
  @include mq(sp) {
    margin-bottom: 60px;
  }
}
.single-section__img {
  margin: 0 0 20px 20px;
  width: min(calc((290 / 1366) * 100vw), 290px);
  float: right;
  border-radius: 20px;
  overflow: hidden;
  @include mq(sp) {
    width: 100%;
    margin: 0 0 40px;
    clear: both;
  }
}
.single-btn {
  margin-inline: auto;
}
