@use "../global" as *;

.top-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin-bottom: 110px;
  @include mq(sp) {
    display: block;
    margin-bottom: 75px;
  }
}
.top-news__heading {
  margin-bottom: 45px;
  @include mq(sp) {
    margin-bottom: 32px;
  }
}
.top-news__description {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 50px;
  @include mq(sp) {
    margin-bottom: 40px;
  }
}
.top-news__btn {
  margin-inline: auto;
}
.top-news__inner {
  flex-shrink: 0;
  width: 50vw;
  margin-right: calc(50% - 50vw);
  background-color: #fff;
  border-radius: 100px 0 0 100px;
  box-shadow: 1px 1px 10px #00000029;
  padding: 80px 40px 80px 50px;
  @include mq(sp) {
    width: calc((360 / 375) * 100vw);
    margin: 0 0 30px auto;
    border-radius: 50px 0 0 50px;
    padding: 30px 20px;
  }
  li:last-child {
    .top-news__article {
      padding-bottom: 0;
    }
  }
}

.top-news__article {
  padding-bottom: 30px;
}

.top-news__article-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  @include mq(sp) {
    margin-bottom: 10px;
  }
}
.top-news__article-date {
  font-family: $font-en;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.3;
  @include mq(sp) {
    font-size: 14px;
  }
}
.top-new__article-cats {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
}
.top-news__article-cat {
  padding: 4px 28px;
  background-color: $primary;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.top-news__article-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  @include mq(sp) {
    font-size: 16px;
  }
}
