@use "../global" as *;

.container {
  margin-inline: auto;
  width: calc((960 / 1366) * 100vw);
  @media screen and (max-width: 990px) {
    width: auto;
    margin-inline: 30px;
  }
  @include mq(sp) {
    margin-inline: 15px;
  }
  &-white {
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 1px 1px 10px #00000029;
    @include mq(sp) {
      border-radius: 50px;
    }
  }
  &-second {
    width: calc((600 / 1366) * 100vw);
    min-width: 600px;
    margin-inline: auto;
    @include mq(sp) {
      width: auto;
      min-width: auto;
      margin-inline: 20px;
    }
  }
}
