@use "../global" as *;

.container {
  margin-inline: auto;
  width: min(calc((960 / 1366) * 100vw), 960px);
  @media screen and (max-width: 990px) {
    width: auto;
    margin-inline: 30px;
  }
  @include mq(sp) {
    margin-inline: 15px;
  }
}
